@use './src/styles/colors' as colors;
.containerOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  @apply text-text-color bg-background-primary;
}

.containerInner {
  width: 100%;
  min-height: 85vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @apply bg-background-primary;
}

@media (min-width: 640px) {
  .containerInner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .containerInner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .containerInner {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .containerInner {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .containerInner {
    max-width: 1536px;
  }
}

.header {
  width: 100%;
}

.title {
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .title {
    font-size: 5rem;
  }
}

.subtitle {
  margin: 0;
  color: colors.$text-color-secondary;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.cardGrid {
  display: grid;
  gap: 0.75rem;
  padding-top: 0.75rem;
  margin-top: 0.75rem;
  text-align: center;
}

@media (min-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cardGrid {
    width: calc(200% / 3);
  }
}
